<div class="title">
  Цей проект створений студентом групи КН-116а університету НТУ "ХПІ" Бормашенко Михайлом для дипломної роботи на тему<br>
  <span class="subject">Прогнозування розвитку комунікацій на основі аналізу соціальних мереж</span><br>
  По всім питанням: <a href="mailto:mbormash@gmail.com">mbormash@gmail.com</a>
</div>
<div style="text-align: center" class="mt-5">
  <button class="btn btn-primary btn-lg" type="submit">Демонстрація</button><br>
  <button *ngIf="!isInputtingData" class="btn btn-primary btn-lg mt-4" type="submit" (click)="changeInput()">Ввести свої дані</button>
  <button *ngIf="isInputtingData" class="btn btn-primary btn-lg mt-4" type="submit" (click)="changeInput()">Закрити введення даних (вони будуть втрачені)</button>
</div>
<div *ngIf="isInputtingData">
  <div class="input-group ml-5 mt-4" style="max-width: 300px;">
    Введіть кількість користувачів соціальної мережі. Це повинне бути число не менше 3.
    <input id="inputNumUsers" type="text" class="form-control" placeholder="Кількість користувачів" aria-label="Кількість користувачів (мін. 3)"
           aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button id="showTable" class="btn btn-outline-secondary" type="button" (click)="showTable()">Далі</button>
    </div>
  </div>

  <div class="table-responsive mt-4" *ngIf="isShowingTable">
    <p class="ml-3">Заповніть матрицю відносин. Элементи повинні набувати значень 1, 0, чи не набувати ніякого.</p>
    <p class="ml-3">Матриця повинна бути симметричною, діагональні элементи не повинні містити ніяких значень.</p>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th></th>
        <th *ngFor="let name of codeNames" style="text-align: center">{{name}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let name of codeNames" style="text-align: center">
        <td style="font-weight: bold">{{name}}</td>
        <td class="matrix-cell" *ngFor="let name of codeNames" contenteditable="true"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="isShowingTable">
    <button class="btn btn-primary btn-lg mt-4" type="submit" (click)="predictCommunications()">Спрогнозувати розвиток</button>
  </div>

  <div *ngIf="isShowingGraphs" class="graph">
    <graph [nodes]="nodes" [links]="links"></graph>
  </div>
</div>

